/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.single-meta {
    display: inline-block;
    margin-right: $base-gutter/2;

    i {
        margin-right: 5px;
    }

    &-title {
        margin-right: 5px;
        font-weight: bold;

        &::after {
            content: ":";
        }
    }
}