/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.branding {
    color: $color-text;
    text-decoration: none;

    &-name {
        display: inline-block;
        margin: 0 10px;
        @include font-size(24px);
        font-weight: bold;
        vertical-align: middle;
    }

    &-info {
        @include font-size(14px);
        font-style: italic;
        vertical-align: bottom;
    }

    .page-header & {
        @media screen and (min-width: 48em) {
            @include center-vertical;
            left: $base-gutter;
        }

        @media screen and (min-width: 60em) {
            left: 0;
        }
    }
}