/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.user {
    &-card {
        @include flex;
        margin-bottom: $base-gutter;
    }

    &-avatar {
        @include dims(96px);
        margin-right: $base-gutter;

        img {
            display: block;
            max-width: 100%;
            border-radius: 5px;
        }
    }

    &-name {
        margin-bottom: 0;
    }
}