/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.search-form {
    .page-header & {
        @media screen and (min-width: 48em) {
            @include center-vertical;
            right: $base-gutter;
        }

        @media screen and (min-width: 60em) {
            right: 0;
        }

        input {
            min-width: 250px;
        }
    }

    .item {
        position: relative;
    }

    input {
        padding-right: 30px;
    }

    i {
        @include center-vertical;
        right: $base-gutter/2;
    }
}