/* @author Bilal Cinarli */

/** -------------------------------------------
    Content
    ------------------------------------------- **/
.page-main {
    margin-top: 125px;
    padding-top: $base-gutter;
    padding-bottom: $base-gutter;
}