/* @author Bilal Cinarli */

/** -------------------------------------------
    Header
    ------------------------------------------- **/
.page-header {
    position: relative;
    max-width: 100%;
    height: $base-header-height;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}