/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        color: $color-text;
    }
}